[ default ]
dir          = .
dir          = $ENV::ROOTCA_DIR
openssl_conf = openssl_def

[ openssl_def ]
engines = engines_def

[ engines_def ]
pkcs11 = pkcs11_def

[ pkcs11_def ]
engine_id   = pkcs11
MODULE_PATH = /usr/lib64/libykcs11.so.2
init        = 0

################################################################################

[ req ]
prompt             = no
distinguished_name = req_ca_dn

[ req_ca_dn ]
countryName            = "US"
0.domainComponent      = "codes"
1.domainComponent      = "doubleu"
organizationName       = "DoubleU Labs"
organizationalUnitName = "DoubleU Root CA"
commonName             = "DoubleU Root CA"

################################################################################

[ ca ]
default_ca = root_ca

[ root_ca ]
certificate      = $dir/ca/root_ca.crt.pem
private_key      = "pkcs11:id=%01;type=private"
new_certs_dir    = $dir/certs
serial           = $dir/db/root_ca.crt.srl
crlnumber        = $dir/db/root_ca.crl.srl
database         = $dir/db/root_ca.db
unique_subject   = no
default_days     = 3652
default_md       = sha256
policy           = match_pol
email_in_dn      = no
preserve         = no
name_opt         = ca_default
cert_opt         = ca_default
copy_extensions  = none
default_crl_days = 180
crl_extensions   = crl_ext

[ match_pol ]
domainComponent        = supplied
countryName            = match
stateOrProvinceName    = optional
localityName           = optional
organizationName       = match
organizationalUnitName = optional
commonName             = supplied

[ crl_ext ]
authorityKeyIdentifier = keyid:always

################################################################################

[ root_ca_ext ]
keyUsage               = critical, keyCertSign, cRLSign
basicConstraints       = critical, CA:true, pathlen:1
subjectKeyIdentifier   = hash
authorityKeyIdentifier = keyid:always

[ issuing_ca_ext ]
keyUsage               = critical, keyCertSign, cRLSign
basicConstraints       = critical, CA:true, pathlen:0
subjectKeyIdentifier   = hash
authorityKeyIdentifier = keyid:always
authorityInfoAccess    = @issuing_ca_aia
crlDistributionPoints  = @issuing_ca_cdp

[ issuing_ca_aia ]
caIssuers;URI.0 = http://ca.doubleu.codes/DoubleU_Root_CA.crl

[ issuing_ca_cdp ]
URI.0 = http://ca.doubleu.codes/DoubleU_Root_CA.crl
